<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Gravita_Fproduct>
			<version>0.1.0</version>
		</Gravita_Fproduct>
	</modules>	
	<global>
		<blocks>
			<fproduct>
				<class>Gravita_Fproduct_Block</class>
			</fproduct>	
		</blocks>
		<helpers>
			<fproduct>
				<class>Gravita_Fproduct_Helper</class>
			</fproduct>
		</helpers>
		<models>
            <fproduct>
                <class>Gravita_Fproduct_Model</class>
                <resourceModel>fproduct_mysql4</resourceModel>
            </fproduct>
            <fproduct_mysql4>
                <class>Gravita_Fproduct_Model_Mysql4</class>
				<entities>
                    <fproduct>
                        <table>featuredproduct</table>
                    </fproduct>
                </entities>
            </fproduct_mysql4>
        </models>
		<resources>
			<fproduct_setup>
                <setup>
                    <module>Gravita_Fproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fproduct_setup>
			<fproduct_write>
				<connection>
					<use>core_write</use>					
				</connection>
			</fproduct_write>
			<fproduct_read>
				<connection>
					<use>core_read</use>
				</connection>	
			</fproduct_read>	
		</resources>			
	</global>	
	
	<admin>
		<routers>
			<fproduct>
				<use>admin</use>
				<args>
					<module>Gravita_Fproduct</module>
					<frontName>fproduct</frontName>
				</args>
			</fproduct>
		</routers>
	</admin>
	
	<adminhtml>
		<menu>
            <catalog>
                <children>
                    <fproduct_adminform translate="title" module="fproduct">
                        <title>Featuredproduct</title>
                        <action>fproduct/adminhtml_fproductform</action>
                    </fproduct_adminform>
                </children>
            </catalog>
        </menu>		
		<acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <fproduct_adminform>
                                    <title>My Form</title>
                                </fproduct_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <fproduct>
                    <file>fproduct.xml</file>
                </fproduct>
            </updates>
        </layout>
	</adminhtml>	
</config>			