<?xml version="1.0"?>
<!--
/**
* Strapp Changeproductposition Module
*
* @category    Strapp
* @package     Strapp_Changeproductposition
**/
 -->
<config>
    <modules>
        <Strapp_Changeproductposition>
            <version>1.0.0.0</version>
        </Strapp_Changeproductposition>
    </modules>    
    <admin>
        <routers>
	    <changeproductposition>
		<use>admin</use>
		<args>
		    <module>Strapp_Changeproductposition</module>
		    <frontName>changeproductposition</frontName>
		</args>
	    </changeproductposition>
        </routers>
    </admin>
    <adminhtml>
	<menu>
	  <strapp translate="title" module="changeproductposition">
	      <title>StrApp</title>
	      <sort_order>75</sort_order>
	      <depends>
		<module>Strapp_Changeproductposition</module>
		<config>changeproductposition/productposition/enabled</config>
	      </depends>
	      <children>
		  <changeproductposition translate="title" module="changeproductposition">
		  <title>Changeproductposition</title>
		  <sort_order>0</sort_order>
		  <children>
		      <items translate="title" module="changeproductposition">
		      <title>Import Product Position</title>
		      <sort_order>0</sort_order>
		      <action>changeproductposition/adminhtml_importposition</action>
		      </items>					  
		  </children>
		  </changeproductposition>
	      </children>
	  </strapp>
	</menu>
	<acl>
	    <resources>
		<all>
		    <title>Allow Everything</title>
		</all>
		<admin>
		    <children>
			<Strapp_Changeproductposition>
			    <title>Change Product Position Module</title>
			    <sort_order>10</sort_order>
			</Strapp_Changeproductposition>
		    </children>
		</admin>
	      </resources>
	  </acl>
	  <layout>
	      <updates>
		  <changeproductposition>
		      <file>changeproductposition.xml</file>
		  </changeproductposition>
	      </updates>
	  </layout>
    </adminhtml>   
    <global>
        <models>
            <changeproductposition>
                <class>Strapp_Changeproductposition_Model</class>               
            </changeproductposition>            
        </models>
        <resources>
            <changeproductposition_setup>
                <setup>
                    <module>Strapp_Changeproductposition</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </changeproductposition_setup>
            <changeproductposition_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </changeproductposition_write>
            <changeproductposition_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </changeproductposition_read>
        </resources>
        <blocks>
            <changeproductposition>
                <class>Strapp_Changeproductposition_Block</class>
            </changeproductposition>
        </blocks>
        <helpers>
            <changeproductposition>
                <class>Strapp_Changeproductposition_Helper</class>
            </changeproductposition>
        </helpers>
    </global>
    <default>
	<changeproductposition>
	    <productposition>
		<enabled>0</enabled>				
		</productposition>
	</changeproductposition>
    </default>
</config>