body.checkout-onepage-success .buttons-set
{
	display: none;
}

body.checkout-onepage-success .buttons-set.show
{
	display: block;
}


body.checkout-onepage-success #reducedcheckout_success_form_register .form-list
{
clear: both;
margin: 1em 0 0;
padding: 8px 0 0;
}

#clearandfizzy_reducedcheckout_login .form-list input.input-text {
	margin-left: 25px;
}

