<?xml version="1.0"?>
<config>
  <modules>
    <Mks_Allreviews>
      <version>8.1.1</version>
    </Mks_Allreviews>
  </modules>
  <frontend>
    <routers>
      <allreviews>
        <use>standard</use>
          <args>
            <module>Mks_Allreviews</module>
            <frontName>allreviews</frontName>
          </args>
      </allreviews>
    </routers>
		<layout>
		  <updates>
			<allreviews>
			  <file>allreviews.xml</file>
			</allreviews>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <allreviews>
        <class>Mks_Allreviews_Helper</class>
      </allreviews>
    </helpers>
	<blocks>
	  <allreviews>
		<class>Mks_Allreviews_Block</class>
	  </allreviews>
	</blocks>
  </global>
</config> 