<?xml version="1.0"?>
<config>
	  <tabs>
		<reviewstab translate="label" module="allreviews">
            <label>Mks All Reviews </label>
            <sort_order>0</sort_order>
        </reviewstab>
	  </tabs>
	  <sections>
		<reviewssection  translate="label" module="allreviews">                    
		<label>General Setting</label>
		<tab>reviewstab</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <reviewsgroup translate="label"> 
					  <label>Status Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </status>
					   </fields>
					   </reviewsgroup>
				      <reviewsgroupsetting translate="label"> 
					  <label>Configuration Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>1</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <numberofreviews translate="label">
                            <label>Number of reviews</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Example :- 12,15,18,21,24.....</comment>
                          </numberofreviews>
                          <numberofcolumns translate="label">
                            <label>Number of columns</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Example :- 3,4,5,6.......</comment>
                          </numberofcolumns>
                          <displayproductimages translate="label">
                            <label>Display Product Images</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </displayproductimages>
                          <enableproducturl translate="label">
                            <label>Enable Product URL</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </enableproducturl>
                          <displayreviewstitle translate="label">
                            <label>Display Reviews Title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </displayreviewstitle>
                          <displayreviewsdate translate="label">
                            <label>Display Reviews Date</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </displayreviewsdate>
                          <displayreviewsstars translate="label">
                            <label>Display Reviews Stars</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </displayreviewsstars>
                          <displayreviewscomments translate="label">
                            <label>Display Reviews Comment's</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </displayreviewscomments>
                          <displaynickname translate="label">
                            <label>Display Reviews Nickname</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </displaynickname>
                          <filteringtab translate="label">
                            <label>Filtering Tab</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </filteringtab>

                          
                          <showreview translate="label">
                            <label>Show Review </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Example :- Average,Individual</comment>
                          </showreview>
					   </fields>
					   </reviewsgroupsetting>
					</groups>
		</reviewssection>
	  </sections>
</config>
