<?xml version="1.0"?>
<config>
  <modules>
    <Sparx_Tweets>
      <version>0.1.0</version>
    </Sparx_Tweets>
  </modules>
  <frontend>
    <routers>
      <tweets>
        <use>standard</use>
          <args>
            <module>Sparx_Tweets</module>
            <frontName>tweets</frontName>
          </args>
      </tweets>
    </routers>
		<layout>
		  <updates>
			<tweets>
			  <file>tweets.xml</file>
			</tweets>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <tweets>
        <class>Sparx_Tweets_Helper</class>
      </tweets>
    </helpers>
	<blocks>
	  <tweets>
		<class>Sparx_Tweets_Block</class>
	  </tweets>
	</blocks>
	<models>
	  <tweets>
		<class>Sparx_Tweets_Model</class>
	  </tweets>
	</models>
  </global>
  <default>
        <tweets>
            <general>
                <enable>1</enable>
                <position>1</position>             
            </general>
        </tweets>
  </default>
</config> 
