<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * GoMage Product Designer Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use/
 * @version      Release: 1.0.0
 * @since        Available since Release 1.0.0
 */
 -->
<config>
    <modules>
        <GoMage_ProductDesigner>
            <version>1.0.0</version>
        </GoMage_ProductDesigner>
    </modules>
    <frontend>
        <routers>
            <gomage_designer>
                <use>standard</use>
                <args>
                    <module>GoMage_ProductDesigner</module>
                    <frontName>designer</frontName>
                </args>
            </gomage_designer>
        </routers>
        <layout>
            <updates>
                <gomage_designer module="GoMage_ProductDesigner">
                    <file>gomage-designer.xml</file>
                </gomage_designer>
            </updates>
        </layout>
        <events>
            <sales_quote_add_item>
                <observers>
                    <add_design_to_quote_item>
                        <class>gomage_designer/observer</class>
                        <method>addDesignToQuoteItem</method>
                    </add_design_to_quote_item>
                </observers>
            </sales_quote_add_item>
            <catalog_product_collection_load_before>
                <observers>
                    <add_product_design_enabled>
                        <class>gomage_designer/observer</class>
                        <method>addDesignEnabledToProducts</method>
                    </add_product_design_enabled>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <product_designer before="Mage_Adminhtml">GoMage_ProductDesigner_Adminhtml</product_designer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gomage_designer>
                    <file>gomage-designer.xml</file>
                </gomage_designer>
            </updates>
        </layout>
        <events>
            <catalog_entity_attribute_load_after>
                <observers>
                    <gomage_navigation_load_attribute>
                        <class>gomage_designer/observer</class>
                        <method>loadAttribute</method>
                    </gomage_navigation_load_attribute>
                </observers>
            </catalog_entity_attribute_load_after>
            <controller_action_predispatch>
                <observers>
                    <gomage_designer_notify>
                        <class>gomage_designer/observer_notify</class>
                        <method>notify</method>
                    </gomage_designer_notify>
                </observers>
            </controller_action_predispatch>
            <admin_system_config_changed_section_gomage_activation>
                <observers>
                    <designer_collect_totals_after>
                        <type>model</type>
                        <class>gomage_designer/observer</class>
                        <method>checkK</method>
                    </designer_collect_totals_after>
                </observers>
            </admin_system_config_changed_section_gomage_activation>
        </events>
    </adminhtml>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product>GoMage_ProductDesigner_Model_Catalog_Product</product>
                    <product_image>GoMage_ProductDesigner_Model_Catalog_Product_Image</product_image>
                    <product_attribute_backend_media>GoMage_ProductDesigner_Model_Catalog_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
            <gomage_designer>
                <class>GoMage_ProductDesigner_Model</class>
                <resourceModel>gomage_designer_mysql4</resourceModel>
            </gomage_designer>
            <gomage_designer_mysql4>
                <class>GoMage_ProductDesigner_Model_Mysql4</class>
                <entities>
                    <clipart_category>
                        <table>gomage_productdesigner_category</table>
                    </clipart_category>
                    <clipart>
                        <table>gomage_productdesigner_clipart</table>
                    </clipart>
                    <uploadedImage>
                        <table>gomage_productdesigner_uploaded_image</table>
                    </uploadedImage>
                    <font>
                        <table>gomage_productdesigner_font</table>
                    </font>
                    <design>
                        <table>gomage_productdesigner_design</table>
                    </design>
                    <design_image>
                        <table>gomage_productdesigner_design_image</table>
                    </design_image>
                    <attribute_option>
                        <table>gomage_productdesigner_attribute_option</table>
                    </attribute_option>
                </entities>
            </gomage_designer_mysql4>
            <checkout>
                <rewrite>
                    <cart>GoMage_ProductDesigner_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <attribute>GoMage_ProductDesigner_Model_Mysql4_Catalog_Eav_Mysql4_Attribute</attribute>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <helpers>
            <gomage_designer>
                <class>GoMage_ProductDesigner_Helper</class>
            </gomage_designer>
        </helpers>
        <blocks>
            <gomage_designer>
                <class>GoMage_ProductDesigner_Block</class>
            </gomage_designer>
            <adminhtml>
                <rewrite>
                    <catalog_product_helper_form_gallery_content>GoMage_ProductDesigner_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                    <catalog_product_attribute_edit_tab_options>GoMage_ProductDesigner_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_media>GoMage_ProductDesigner_Block_Catalog_Product_View_Media</product_view_media>
                    <product_view_options>GoMage_ProductDesigner_Block_Catalog_Product_View_Options</product_view_options>
                    <product_view>GoMage_ProductDesigner_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <gomage_productdesigner_setup>
                <setup>
                    <module>GoMage_ProductDesigner</module>
                    <class>GoMage_ProductDesigner_Model_Resource_Setup</class>
                    <connection>core_setup</connection>
                </setup>
            </gomage_productdesigner_setup>
        </resources>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <add_design_to_final_price>
                        <class>gomage_designer/observer</class>
                        <method>addDesignPriceToFinalPrice</method>
                    </add_design_to_final_price>
                </observers>
            </catalog_product_get_final_price>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <add_design_to_final_price>
                        <class>gomage_designer/observer</class>
                        <method>addDesignCustomOptionToProduct</method>
                    </add_design_to_final_price>
                </observers>
            </catalog_product_type_prepare_full_options>
            <catalog_product_type_prepare_lite_options>
                <observers>
                    <add_design_to_final_price>
                        <class>gomage_designer/observer</class>
                        <method>addDesignCustomOptionToProduct</method>
                    </add_design_to_final_price>
                </observers>
            </catalog_product_type_prepare_lite_options>
        </events>
    </global>
    <default>
        <gomage_designer>
            <general>
                <enabled>0</enabled>
                <add_to_cart_button>0</add_to_cart_button>
                <format>png</format>
                <fixed_price>0</fixed_price>
                <price_for_text>0</price_for_text>
                <price_for_image>0</price_for_image>
                <show_comment>1</show_comment>
                <default_tab>design</default_tab>
                <zoom_size_width>680</zoom_size_width>
                <zoom_size_height>800</zoom_size_height>
                <page_title>GoMage Product Designer</page_title>
            </general>
            <navigation>
                <enabled>1</enabled>
                <color_attribute>color</color_attribute>
                <size_attribute>size</size_attribute>
            </navigation>
            <design>
                <enabled>1</enabled>
                <search>1</search>
                <navigation>1</navigation>
            </design>
            <text>
                <enabled>1</enabled>
                <effects>1</effects>
                <font>Arial</font>
                <size>14</size>
            </text>
            <upload_image>
                <enabled>1</enabled>
                <copyright>1</copyright>
                <format>png,jpg/jpeg,gif</format>
                <size>1</size>
                <max_size_width>500</max_size_width>
                <max_size_height>700</max_size_height>
            </upload_image>
        </gomage_designer>
        <gomage_notification>
            <notification>
                <enable>1</enable>
            </notification>
        </gomage_notification>
    </default>
</config>

