<?xml version="1.0"?>
<config>
	<modules>
		<Vsourz_Ordersuccess>
			<version>0.1.0</version>
		</Vsourz_Ordersuccess>
	</modules>
	<frontend>
		 <layout>
            <updates>
                <ordersuccess>
                    <file>vsourz/ordersuccess.xml</file>
                </ordersuccess>
            </updates>
        </layout>
	</frontend>
	<global>
		<blocks>
			<ordersuccess>
				<class>Vsourz_Ordersuccess_Block</class>
			</ordersuccess>
			<checkout>
				<rewrite>
					<onepage_success>Vsourz_Ordersuccess_Block_Onepage_Success</onepage_success>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<ordersuccess>
					<class>Vsourz_Ordersuccess_Helper</class>
			</ordersuccess>
		</helpers>
	</global>
	<default>
		<tab1>
			<general>
				<enable_extension>1</enable_extension>
			</general>	
			<order_information_system>
				<display_order_table>1</display_order_table>
				<display_product_image>1</display_product_image>
				<display_discount>1</display_discount>
				<display_shipping_rates>1</display_shipping_rates>
				<display_tax>1</display_tax>
			</order_information_system>	
			<cms_block_section>
				<cms_block_above>0</cms_block_above>
				<cms_block_below>0</cms_block_below>
			</cms_block_section>
			<newsletter_subscription_section>
				<display_section>1</display_section>
			</newsletter_subscription_section>
		</tab1>
	</default>
</config>