<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Gravita_Eform>
			<version>0.1.0</version>
		</Gravita_Eform>
	</modules>
	<frontend>
		<routers>
			<eform>
				<use>standard</use>
				<args>
					<module>Gravita_Eform</module>
					<frontName>eform</frontName>					
				</args>
			</eform>
		</routers>
		<layout>
			<updates>
				<eform>
					<file>eform.xml</file>
				</eform>
			</updates>
		</layout>			
	</frontend>	
	<admin>
		<routers>
			<eform>
				<use>admin</use>
				<args>
					<module>Gravita_Eform</module>
					<frontName>eform</frontName>
				</args>
			</eform>
		</routers>
	</admin>
	<global>
		<blocks>
			<eform>
				<class>Gravita_Eform_Block</class>
			</eform>	
		</blocks>
		<helpers>
			<eform>
				<class>Gravita_Eform_Helper</class>
			</eform>
		</helpers>
		<!--<models>
			<eform>
				<class>Gravita_Eform_Model</class>
				<resourceModel>eform_mysql4</resourceModel>
			</eform>			
		</models>-->
		<resources>
			<eform_write>
				<connection>
					<use>core_write</use>					
				</connection>
			</eform_write>
			<eform_read>
				<connection>
					<use>core_read</use>
				</connection>	
			</eform_read>	
		</resources>
		<template>
            <email>
               <eform_email_template translate="label" module="eform">
                   <label>New Enquiry</label>
                   <file>corporate.html</file>
                   <type>html</type>
               </eform_email_template>               
            </email>
        </template>				
	</global>		
</config>			