<?xml version="1.0"?>
<!--
/**
* PHXSolution Mergeinfo
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so you can be sent a copy immediately.
*
* Original code copyright (c) 2008 Irubin Consulting Inc. DBA Varien
*
* @category   module configuration
* @package    Phxsolution_Mergeinfo
* @author     Prakash Vaniya
* @contact    contact@phxsolution.com
* @site       www.phxsolution.com
* @copyright  Copyright (c) 2014 PHXSolution Mergeinfo
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->

<config>
    <modules>
        <Phxsolution_Mergeinfo>
            <version>0.1.0</version>
        </Phxsolution_Mergeinfo>
    </modules>
    <frontend>
        <routers>
            <mergeinfo>
                <use>standard</use>
                <args>
                    <module>Phxsolution_Mergeinfo</module>
                    <frontName>mergeinfo</frontName>
                </args>
            </mergeinfo>
        </routers>
        <translate>
            <modules>
                <Mage_Checkout>
                    <files>
                        <default>Phxsolution_Mergeinfo.csv</default>
                    </files>
                </Mage_Checkout>
            </modules>
        </translate>
		<layout>
            <updates>
                <mergeinfo>
                    <file>mergeinfo.xml</file>
                </mergeinfo>
            </updates>
        </layout>
    </frontend>
    <global>
    	<rewrite>
	        <Phxsolution_checkout> <!--This can be any unique id -->
	            <from><![CDATA[#^/checkout/onepage/#]]></from>  <!-- the URL which u want to override-->
	            <to>/mergeinfo/onepage/</to>  <!-- destination url -->
	        </Phxsolution_checkout>
	    </rewrite>
        <blocks>
        	<checkout>
	    		<rewrite>
	    			<onepage>Phxsolution_Mergeinfo_Block_Onepage</onepage>
	    		</rewrite>
	    	</checkout>
            <mergeinfo>
                <class>Phxsolution_Mergeinfo_Block</class>
            </mergeinfo>
        </blocks>
        <helpers>
            <mergeinfo>
                <class>Phxsolution_Mergeinfo_Helper</class>
            </mergeinfo>
        </helpers>
    </global>
</config>