<?xml version="1.0"?>
<config>
	<default>
		<featuredproduct>
			<general>
				<show_product_number>4</show_product_number>
				<show_type>static</show_type>
				<delay_time>3</delay_time>
			</general>	
			
		</featuredproduct>
	</default>
    <modules>
        <Magestore_Featuredproduct>
            <version>0.1.1</version>
        </Magestore_Featuredproduct>
    </modules>
    <frontend>
        <routers>
            <featuredproduct>
                <use>standard</use>
                <args>
                    <module>Magestore_Featuredproduct</module>
                    <frontName>featuredproduct</frontName>
                </args>
            </featuredproduct>
        </routers>
        <layout>
            <updates>
                <featuredproduct>
                    <file>featuredproduct.xml</file>
                </featuredproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproduct>
				<use>admin</use>
				<args>
					<module>Magestore_Featuredproduct</module>
					<frontName>featuredproduct</frontName>
				</args>
			</featuredproduct>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<featuredproduct>
					<file>featuredproduct.xml</file>
				</featuredproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featuredproduct>
                <class>Magestore_Featuredproduct_Model</class>
                <resourceModel>featuredproduct_mysql4</resourceModel>
            </featuredproduct>
            <featuredproduct_mysql4>
                <class>Magestore_Featuredproduct_Model_Mysql4</class>
                <entities>
                    <featuredproduct>
                        <table>catalog_product_entity</table>
                    </featuredproduct>
                </entities>
            </featuredproduct_mysql4>
        </models>
        <resources>
            <featuredproduct_setup>
                <setup>
                    <module>Magestore_Featuredproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproduct_setup>
            <featuredproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproduct_write>
            <featuredproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproduct_read>
        </resources>
        <blocks>
            <featuredproduct>
                <class>Magestore_Featuredproduct_Block</class>
            </featuredproduct>
			
        </blocks>
        <helpers>
            <featuredproduct>
                <class>Magestore_Featuredproduct_Helper</class>
            </featuredproduct>
        </helpers>
    </global>
</config>