<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Gravita_Trending>
			<version>0.1.0</version>
		</Gravita_Trending>
	</modules>	
	<global>
		<blocks>
			<trending>
				<class>Gravita_Trending_Block</class>
			</trending>	
		</blocks>
		<helpers>
			<trending>
				<class>Gravita_Trending_Helper</class>
			</trending>
		</helpers>
		<models>
            <trending>
                <class>Gravita_Trending_Model</class>
                <resourceModel>trending_mysql4</resourceModel>
            </trending>
            <trending_mysql4>
                <class>Gravita_Trending_Model_Mysql4</class>
				<entities>
                    <trending>
                        <table>trendingproduct</table>
                    </trending>
                </entities>
            </trending_mysql4>
        </models>
		<resources>
			<trending_setup>
                <setup>
                    <module>Gravita_Trending</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </trending_setup>
			<trending_write>
				<connection>
					<use>core_write</use>					
				</connection>
			</trending_write>
			<trending_read>
				<connection>
					<use>core_read</use>
				</connection>	
			</trending_read>	
		</resources>			
	</global>	
	
	<admin>
		<routers>
			<trending>
				<use>admin</use>
				<args>
					<module>Gravita_Trending</module>
					<frontName>trending</frontName>
				</args>
			</trending>
		</routers>
	</admin>
	
	<adminhtml>
		<menu>
            <catalog>
                <children>
                    <trending_adminform translate="title" module="trending">
                        <title>Trendingproduct</title>
                        <action>trending/adminhtml_trendingform</action>
                    </trending_adminform>
                </children>
            </catalog>
        </menu>		
		<acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <trending_adminform>
                                    <title>My Form</title>
                                </trending_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <trending>
                    <file>trending.xml</file>
                </trending>
            </updates>
        </layout>
	</adminhtml>	
</config>			