<?xml version="1.0"?>
<config>
    <default>
		<faq>
			<general>
				<most_frequently_number>6</most_frequently_number>
				<overview_number>3</overview_number>
			</general>	
		</faq>
	</default>		
	<modules>
        <Magestore_Faq>
            <version>0.1.3</version>
        </Magestore_Faq>
    </modules>
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>Magestore_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </faq>
        </routers>
        <layout>
            <updates>
                <faq>
                    <file>faq.xml</file>
                </faq>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Faq>
                    <files>
                        <default>Magestore_Faq.csv</default>
                    </files>
                </Magestore_Faq>
            </modules>
        </translate>
    </frontend>
    
    <adminhtml>
		<layout>
			<updates>
				<faq>
					<file>faq.xml</file>
				</faq>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <faq>
                <class>Magestore_Faq_Model</class>
                <resourceModel>faq_mysql4</resourceModel>
            </faq>
            <faq_mysql4>
                <class>Magestore_Faq_Model_Mysql4</class>
                <entities>
                    <faq>
                        <table>faq</table>
                    </faq>
					
					<category>
                        <table>faq_category</table>
                    </category>
					
					<faqstore>
                        <table>faq_store</table>
                    </faqstore>	

					<categorystore>
                        <table>faq_category_store</table>
                    </categorystore>					
					
					<urlrewrite>
						<table>core_url_rewrite</table>
					</urlrewrite>
                </entities>
            </faq_mysql4>
        </models>
        <resources>
            <faq_setup>
                <setup>
                    <module>Magestore_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faq_setup>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>
        <blocks>
            <faq>
                <class>Magestore_Faq_Block</class>
            </faq>
        </blocks>
        <helpers>
            <faq>
                <class>Magestore_Faq_Helper</class>
            </faq>
        </helpers>
    </global>
</config>