<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Gravita_Sform>
			<version>0.1.0</version>
		</Gravita_Sform>
	</modules>
	<frontend>
		<routers>
			<sform>
				<use>standard</use>
				<args>
					<module>Gravita_Sform</module>
					<frontName>sform</frontName>					
				</args>
			</sform>
		</routers>
		<layout>
			<updates>
				<sform>
					<file>sform.xml</file>
				</sform>
			</updates>
		</layout>			
	</frontend>	
	<admin>
		<routers>
			<sform>
				<use>admin</use>
				<args>
					<module>Gravita_Sform</module>
					<frontName>sform</frontName>
				</args>
			</sform>
		</routers>
	</admin>
	<global>
		<blocks>
			<sform>
				<class>Gravita_Sform_Block</class>
			</sform>	
		</blocks>
		<helpers>
			<sform>
				<class>Gravita_Sform_Helper</class>
			</sform>
		</helpers>
		<models>
			<sform>
				<class>Gravita_Sform_Model</class>
				<resourceModel>sform_mysql4</resourceModel>
			</sform>
			<sform_mysql4>
				<class>Gravita_Sform_Model_Mysql4</class>
				<entities>
					<sellerdetail>
						<table>sellerdetail</table>
					</sellerdetail>
				</entities>		
			</sform_mysql4>
		</models>
		<resources>
			<sform_setup>
				<setup>
					<module>Gravita_Sform</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>		
			</sform_setup>
			<sform_write>
				<connection>
					<use>core_write</use>					
				</connection>
			</sform_write>
			<sform_read>
				<connection>
					<use>core_read</use>
				</connection>	
			</sform_read>	
		</resources>	
		<template>
            <email>
                <sform_email_template translate="label" module="sform">
                   <label>New Design</label>
                   <file>design_submission.html</file>
                   <type>html</type>
                </sform_email_template>               
            </email>
        </template>			
	</global>		
</config>			